<!Doctype html>
<html lang="en">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--Bootstrap Tools-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--===================-->
        	<link rel="stylesheet" type="text/css" href="../css/ISATBaseNavBar.css" />
		<link rel="stylesheet" type="text/css" href="../css/intschol_search.css" />
        <title>ISAT Internship Portal</title>
    </head>
    <body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="ISATPh.html"><!--LINK--><img src="https://siu.edu/_assets/images/siu-logo.png" width="120" 
						height="120" alt="HoeIcon"></a>
				</div>
				<p class="navtext" id="usertext">Welcome User<!--TEXT--></p>
				<ul class="nav navbar-nav">
					<li><button class="btn btn-outline-primary" type="button" onClick="window.location.href='../student/signin.ejs'"></button><!--LINK-->Sign Out!</li> <!--BUTTON-->
				</ul>
				<ul class="nav navbar-right">
					<li class="col-sm-3 searchbox">
						<form class="form-inline mr-auto">
							<div class="md-form mt-0">
								<input class="form-control" type="text" placeholder="Search" aria-label="Search"> <!--SEARCH-->
								<i class="fa fa-search text-white ml-3" aria-hidden="true"></i> 
							</div>
						</form>
					</li>
				</ul>
			</div>
			<h1 class="text-center" id="pagetext">Internships</h1>
			
			<div class="text-center" id="navtopbuttons">
					<div class="btn-group" role="group" aria-label="Basic example">
					  <button type="button" class="btn btn-primary btn-lg" onclick =" window.location.href= '/portal'">Portal</button><!--BUTTON-->
					  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = '/student/home'" >Account</button><!--BUTTON-->
					  <button type="button" class="btn btn-primary btn-lg"  onclick="window.location.href='/student/searchScholarships'">Scholarship</button><!--BUTTON-->
					  <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href= '/student/searchInternship'">Internship</button><!--BUTTON-->
					</div>
				</div>
		</nav>
		
		<div class="results">
			<div id="text">
				<p><button class="btn intern-btn">Web Devolpment</button> <!--BUTTON-->
					<button class="btn intern-btn">Networking / Security</button> <!--BUTTON-->
					<button class="btn intern-btn">Database</button></p> <!--BUTTON-->
				<div id="internship">
					<div id="text-left">
						<% internship.forEach(function(internship) { %>
						<p><!--FIELD--><a href="#"><%= internship.title %> - <% internship.name %> </a></p>
							<% }); %>
					</div>
				</div>
				<br>
			</div>
		</div>
		
		<div class="footer">
				<span>&copy; 2018 SIU IST 412</span>
		</div>
	</body>
</html>
