.listorder
{
	list-style-type: none; 
	width:30%; 
	float:left;
}

.socialdiv
{
	border:1px solid #000;
	font-family:arial;
	height:10%;
	width:50%;
}

.socialdiv ul
{
	list-style:none;
	max-height:100px;
	margin:0;
	overflow:auto;
	padding:0;
	text-indent:10px;
}

.socialdiv li
{
	line-height:25px;
}

#submitEdits
{
	display: none;
}