.navbar-default 
{
	background-color: #680202;
}

.navbar-brand
{
    height: 3%;
}

#pagetext
{
	color: #fff;
	padding-top: -40%;
}
#usertext
{
	color: #fff;
	padding-top: 3%;
	padding-left: 15%;
}

.navbar-brand img
{
	display: inline-block;
    margin-left: 20px;
}

.searchbox
{
	padding-top: 1%;
}

.btn-outline-primary 
{
    color: #000;
    background-color: rgb(234, 234, 234);
    border-color: #680202; 
}

#navtopbuttons
{
	padding-bottom: 2%;
}

.btn-lg
{
	background-color: #680202;
	border-color: #fff; 
}

.footer
{
	padding: 6px 0px 0px 18px;
	clear: both;
	color: white;
	height: 30px;
	text-align: center;
	background-color: #680202;
} 
.my_content_container a {
    border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
	text-decoration: none;
	   
}

a:hover {
	background-color: blue;
}    