<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--Bootstrap Tools-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--===================-->
		<title>ISAT Internship Portal</title>
		<link rel="stylesheet" type="text/css" href="ISATBaseNavBar.css" media="screen"/>
	</head>
	
	<style>
		body {background-color: black;}
	</style>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="ISATPh.html"><!--LINK--><img src="https://siu.edu/_assets/images/siu-logo.png" width="120" 
						height="120"alt="HoeIcon"></a>
				</div>
				<p class="navtext" id="usertext">Welcome User<!--TEXT--></p>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
					<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-outline-primary" type="button" onClick="window.location.href='student_Login.html'"/><!--LINK-->Login or Sign Up!</li>
						</ul>
					</div>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
			</div>
			<h1 class="text-center" id="pagetext">Error-Return to Portal/Login Page</h1>
			
			<div class="text-center" id="navtopbuttons">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-primary btn-lg">Portal</button><!--BUTTON-->
				</div>
			</div>
		</nav>
		
		<div class="nyanembed row text-center">
			<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/wZZ7oFKsKzY?rel=0&amp;showinfo=0" 
			frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
		
		<footer class="footer">
			<span>&copy; 2018 SIU IST 412</span>
		</footer>
	</body>
</html>