<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--Bootstrap Tools-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--===================-->
		<title>ISAT Internship Portal</title>
		<link rel="stylesheet" type="text/css" href="ISATBaseNavBar.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="portalCSS.css" media="screen"/>
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="ISATPh.html"><!--LINK--><img src="https://siu.edu/_assets/images/siu-logo.png" width="120" 
						height="120"alt="HoeIcon"></a>
				</div>
				<p class="navtext" id="usertext">Welcome User<!--TEXT--></p>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
					<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-outline-primary" type="button" onClick="window.location.href='signin'"/><!--LINK-->Log in or Sigh Up!</li>
						</ul>
					</div>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
			</div>
			<h1 class="text-center" id="pagetext">Portal</h1>
			
		</nav>
		
		<div class="container-fluid">
			<div class="row portalRow">
				<div class="col-lg-6 portalCol" id="east">
					<div class="col-lg-2"></div>
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FSIUISAT%2F&tabs=timeline%2C%20events&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" 
							width="400" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
				</div>
				<div class="col-lg-4 portalCol" id="west">
					<h3>Welcome to the SIUC Intership Portal!</h3>
					<p>This Portal was designed for students of the ISAT program here at SIUC to apply to interships from major companies that are partnered with SIU.</p>
					<p>Employeers sumbit their internships at Login Page so it can be reviewed. Students can log in then look at posted jobs and scholarships once reviewed.</p>
					<p>Sponsers can also sumbit their forms for Student Scholarships at the Login Page so it can be approved by SIU ISAT Admins</p>
					<p><!--FIELD--></p>
				</div>
			</div>
		</div>
		
		<footer class="footer">
			<span>&copy; 2018 SIU IST 412</span>
		</footer>
	</body>
</html>