<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<!--Bootstrap Tools-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!--===================-->
		<title>ISAT Internship Portal</title>
		<link rel="stylesheet" type="text/css" href="../css/ISATBaseNavBar.css" media="screen"/>
		<link rel="stylesheet" type="text/css" href="../css/Admin.css" media="screen"/>
	</head>
	
	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="ISATPh.html"><!--LINK--><img src="https://siu.edu/_assets/images/siu-logo.png" width="120" 
						height="120"alt="HoeIcon"></a>
				</div>
				<p class="navtext" id="usertext">Welcome User<!--TEXT--></p>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
					<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2">
						<ul class="nav navbar-nav">
							<li><button class="btn btn-outline-primary" type="button" 
							onClick="window.location.href='student_Login.html'"/><!--LINK-->Sign Out!</li>
						</ul>
					</div>
				<div class="container col-lg-1 col-md-1 col-sm-1 col-xs-2"></div>
				<ul class="nav navbar-right">
					<li class="col-sm-3 searchbox">
						<form class="form-inline mr-auto">
							<div class="md-form mt-0">
								<input class="form-control" type="text" placeholder="Search" aria-label="Search"><!--SEARCH-->
								<i class="fa fa-search text-white ml-3" aria-hidden="true"></i>
							</div>
						</form>
					</li>
				</ul>
			</div>
			<h1 class="text-center" id="pagetext">Admin-Scholarships</h1>
			
			<div class="text-center" id="navtopbuttons">
				<div class="btn-group" role="group" aria-label="Basic example">
				  <button type="button" class="btn btn-primary btn-lg">Portal</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg">Account</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg">Scholarship</button><!--BUTTON-->
				  <button type="button" class="btn btn-primary btn-lg">Internship</button><!--BUTTON-->
				</div>
			</div>
		</nav>

 
 <div class="Approval">
	<div class="row text-center">

        <h2 >Scholarships that need Approval</h2>
   
	</div>
    
    <div class='scroll'>
	
    <table width="100%">
	
             <thead>
            <tr>
              <th class="col-xs-1">#</th>
			  <th class="col-xs-4">Scholarship</th>
			  <th class="col-xs-4">Sponsor</th>
			  <th class="col-xs-4">Requirement</th>
			  <th class="col-xs-4">Duration</th>
			   <th class="col-xs-1">Payout</th>
			   <th class="col-xs-1">select</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-1">1</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			    <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">2</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			   <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">3</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			   <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">4</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">5</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">6</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">7</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">8</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">9</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">10</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">11</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">12</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
          </tbody>
    </table>
	
	</div>
	<div><p><br></p></div>
		<div class="row text-center">
			 <button type="button" class="btn btn-primary btn-lg ">Approved</button><!--BUTTON-->
			<button type="button" class="btn btn-primary btn-lg ">Reject</button><!--BUTTON-->
		</div>
		<div><p><br></p></div>
	</div>
	
	 
 <div class="Approval">
	<div class="row text-center" >

        <h2 >Approved</h2>
   
	</div>
    
    <div class='scroll'>
	
    <table width="100%">
	
             <thead>
            <tr>
              <th class="col-xs-1">#</th>
			  <th class="col-xs-4">Scholarship</th>
			  <th class="col-xs-4">Sponsor</th>
			  <th class="col-xs-4">Requirement</th>
			  <th class="col-xs-4">Duration</th>
			   <th class="col-xs-1">Payout</th>
			   <th class="col-xs-1">select</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="col-xs-1">1</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			    <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">2</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			   <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">3</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			   <td class="col-xs-1"></td>
			   <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">4</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">5</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">6</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">7</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">8</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">9</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">10</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">11</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
            <tr>
              <td class="col-xs-1">12</td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>

			  <td class="col-xs-4"></td>
			  <td class="col-xs-4"></td>
			  <td class="col-xs-1"></td>
			  <td class="col-xs-1"><input type="checkbox" name="select" value="select"/></td>
            </tr>
          </tbody>
    </table>
	
	</div>
	<div><p><br></p></div>
		<div class="row text-center">
			<button type="button" class="btn btn-primary btn-lg">Delete</button><!--BUTTON-->
			<button type="button" class="btn btn-primary btn-lg">Edit</button><!--BUTTON-->
		</div>
		<div><p><br></p></div>
	</div>
	<div><p><br></p></div>
	
		<footer class="footer">
				<span>&copy; 2018 SIU IST 412</span>
		</footer>
	</body>
</html>
